{%- for interface, value in interfaces.items() %}
interface {{ interface }}
  {%- if value.mode == 'access' %}
  switchport mode access
  switchport access vlan {{ value.access_vlan }}
  {%- elif value.mode == 'trunk' %}
  switchport mode trunk
  switchport trunk native vlan {{ value.native_vlan }}
  {%- if value.trunk_vlans == 'all'%}
  switchport trunk allowed vlan all
  {%- else %}
  switchport trunk allowed vlan {% for item in value.trunk_vlans %} {%- if loop.last  %}{{ item }}{%- else %}{{ item }},{%- endif %}
  {%- endfor %}
  {%- endif %} 
  {%- endif %}
{%- endfor %}
